.lp-react-tree-drag-TreeNode {
  display: flex;
  padding: 3px;
}

.lp-react-tree-drag-TreeNode:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.lp-react-tree-drag-TreeNode-icon {
  width: 18px;
  margin-right: 3px;
  pointer-events: none;
}

.lp-react-tree-drag-TreeNode-title {
}

.lp-react-tree-drag-TreeNode-op {
  flex-grow: 1;
  text-align: right;
}

.lp-react-tree-drag-TreeNode-dragStart {
  opacity: 0.5;
}

.lp-react-tree-drag-TreeNode-left {
  display: flex;
  cursor: move;
}

.lp-react-tree-drag-TreeNode-placeholder {
  border: 1px dashed #000;
  height: 22px;
  pointer-events: none;
  display: none;
  width: 100%;
}
